
:root {
  --main: #006400;
  --fontmain:rgb(79,76,76);
}


*{
  font-family: 'Source Sans Pro',sans-serif;
  margin:0px;
  padding:0px;
  color:inherit;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.4em;
  text-decoration:none;
  background-color:white;
  -webkit-text-size-adjust:none;
}
div,p,span,a,a:hover,i,ul,ol,li{
  font-size:inherit;
  color:inherit;
  text-decoration:inherit;
  font-weight:inherit;
  text-align:inherit;
}


html{
  background-color:white;
  padding:30px;
}
body{
  min-width:880px;
  max-width:1100px;
  color:var(--fontmain);
  margin:0px auto auto auto;
  padding:0px auto auto auto;
}
header{
  padding-bottom:15px;
  border-bottom:2px solid var(--fontmain);
  background-color:var(--background);
  color:#006400;
}
.content{ 
  background-color:var(--background);
}


h1{
  margin-bottom:20px;
  color:var(--main);
  font-size:250%;
  display:block;
  border-bottom:1px solid darkgray;
  color: #006400
}
h2{ 
  color:var(--main);
  font-size:inherit;
}
h3{
  color:var(--main);
  font-size:120%;
  padding-top:10px;
  padding-bottom:10px;
}

hr{
  margin-top:20px;
  margin-bottom:20px;
}

a{
  color:blue;
}
a:hover{
  color:blue;
  cursor:pointer;
  text-decoration:underline;
}


ul{
  padding: 7px 0px 0px 30px;
  margin:0px;
  list-style:circle;
}
li{
  margin-bottom:10px;
}
li:not(:last-child) {
  margin-bottom:2px;
}


u{
  text-decoration:underline;
}
b{
  font-weight:800;
}
