<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Fortran Toolkit</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/githubcss.css"> 
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700,800" media="all">
    <style TYPE="text/css">
      code.has-jax {font: inherit; font-size: 100%; background: inherit; border: inherit;}
      </style>
      <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
          tex2jax: {
              inlineMath: [['$','$'], ['\\(','\\)']],
              skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'] // removed 'code' entry
          }
      });
      MathJax.Hub.Queue(function() {
          var all = MathJax.Hub.getAllJax(), i;
          for(i = 0; i < all.length; i += 1) {
              all[i].SourceElement().parentNode.className += ' has-jax';
          }
      });
      </script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_HTML-full"></script>      
  </head>
  <body>
    <h1>
        <a href="{{ '/' | absolute_url }}" style="text-decoration:none">
            <title>Foortran Toolkit</title>
        </a>
    </h1>
    <div class="content" style="border-bottom:2px solid var(--main);margin-bottom:15px;padding-bottom:4px">
      <div style="font-size:200%;display:block;text-align:center;color:var(--main);">
        Fortran toolkit
      </div>
      <div style="font-size:150%;display:block;text-align:center;color:var(--fontmain);">
        <a href="https://borjapetit.github.io">Borja Petit</a>
      </div>
    </div>
    <div class="content">
      {{ content }}
    </div>
    <footer>
    </footer>
  </body>
</html>