<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Fortran Toolkit</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/githubcss.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <style TYPE="text/css">
      code.has-jax {font: inherit; background: inherit; border: inherit;}
    </style>
      <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
          tex2jax: {
              inlineMath: [['$','$'], ['\\(','\\)']],
              skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'] // removed 'code' entry
          }
      });
      MathJax.Hub.Queue(function() {
          var all = MathJax.Hub.getAllJax(), i;
          for(i = 0; i < all.length; i += 1) {
              all[i].SourceElement().parentNode.className += ' has-jax';
          }
      });
      </script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_HTML-full"></script>      
  </head>
  <body>
    <h1>
        <a href="{{ '/' | absolute_url }}" style="text-decoration:none">
            <title>Foortran Toolkit</title>
        </a>
    </h1>
    <div class="content" style="border-bottom:2px solid var(--main);margin-bottom:25px;padding-bottom:10px">
      <div style="font-size:200%;display:block;text-align:left;color:var(--main);">
        Fortran toolkit
      </div>
      <div style="font-size:150%;display:inline-block;text-align:left;color:var(--fontmain);width:50%;">
        <a href="https://borjapetit.github.io">Borja Petit</a>
      </div>
      <div style="display:inline-block;text-align:right;margin-top:15px;width:50%">
        <a style="background-color:#F2F2F2;border: 1px solid var(--main); padding: 5px 10px 5px 10px" href="https://borjapetit.github.io/fortran_toolkit/toolkit.f90">Download toolkit</a>
      </div>
    </div>
    <div class="content">
      {{ content }}
    </div>
    <footer>
    </footer>
  </body>
</html>